.home-main{
    margin-top: -122px;
}

.carousel-image{
    height: 50vh;
    object-fit: cover !important;
}

@media screen and (max-width:576px) {
    .carousel-item{
        max-height: 70vh;
    }
    .carousel-image{
        height: 70vh !important;
        object-fit: cover !important;
    }
}

@media screen and (max-height:500px) {
    .carousel-item{
        max-height: 70vh;
    }
    .carousel-image{
        height: 70vh !important;
        object-fit: cover !important;
    }
    
}
