:root {
  --note: #ffff3b;
}
.note-color{
  background-color: var(--note)!important;
}
.startpoint {
  width: 100%;
}

.note{
  max-width: 400px;
  border-radius: 2px;
  box-shadow: 2px 3px 7px #8888883b;
  background-color: var(--note)!important;
  transition: box-shadow 0.3s, background-color 0.3s;
  transition-timing-function: ease-out;
}
.note-adder{
  max-width: 60%;
  border-radius: 2px;
  box-shadow: 2px 3px 7px #8888883b;
  background-color: #ffff3b83 !important;
  transition: box-shadow 0.3s, background-color 0.3s;
  transition-timing-function: ease-out;
}

.main-note{
  border-radius: 2px;
  box-shadow: 3px 2px 7px #8888883b;
  width: 100%;
  background-color: var(--note)!important;
  transition: box-shadow 0.3s, background-color 0.3s;
  transition-timing-function: ease-out;
}
.note:hover, .main-note:hover, .note-adder:hover{
  border-radius: 2px;
  box-shadow: 0px 0px 5px 3px  #3a8fd96e;
  background-color: var(--note)!important;
}
#plan {
  background-color: #fffff9ef !important;
  width: 90vw;
  height: auto;
  margin: 20px auto;
  border-radius: 1px 5px;
  box-shadow: 0px 0px 5px 0px #888;
  position: relative;
}

#modal-header{
  width: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  
}

#modal-input{
  width: 100%;
  min-height: 20vh;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.line-input{
  width: 90%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.new-note-icon{
  width: 80px;
  height: 80px;
}

.bin-icon{
  width: 50px;
  height: 50px;
}

.parent-pop:hover .pop-in{
  display: inline-block;
}
.pop-in{
  display: none;
}

.main-task{
  border-bottom: 2px solid #e83283;
}

@media only screen and (min-width: 576px) {
  .main-task{
    border-bottom: 0px solid #e83283;
    border-right: 2px solid #e83283;
  }
}